[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyaml = "*"
pynetdicom = "*"
nibabel = "*"
matplotlib = "*"
yaxil = "*"
textual = "*"
textual-dev = "*"
pygame = "*"
scanbuddy = {path = ".", editable = true}

[dev-packages]

[requires]
python_version = "3"
